-# %h2 Forgot your password?
-# = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
-#   = f.error_notification
-#   .form-inputs
-#     = f.input :email,
-#       required: true,
-#       autofocus: true,
-#       input_html: { autocomplete: "email" }
-#   .form-actions
-#     = f.button :submit, "Send me reset password instructions"
-# = render "devise/shared/links"
%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Set new password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    .general-form
      .form-group.mb-30
        %label.control-label.input-label{for: "password"} Type a new Password
        = f.input :password, label: false, input_html: { class: 'form-control' }
      .form-group.mb-40
        %label.control-label.input-label{for: "confirmPassword"} Confirm Password
        = f.input :confirm_password, label: false, input_html: { class: 'form-control' }
      = f.button :submit, "Change", class: 'btn btn-default center-block mb-20'
