#myCarousel.carousel.slide{"data-ride" => "carousel"}

  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}

  .carousel-inner
    - Book.last(3).each_with_index do |book, i|
      .item{class: i.zero? ? 'active' : ''}
        .row
          .col-sm-5
            .general-img-wrap
              = cl_image_tag book.book_attachments.first.picture, class: "img-shadow general-thumbnail-img", alt: "design-book"
          .col-sm-7
            .mb-60
              %h1
                = book.name
              %p.lead
                = book.description
              %p.lead.small
                = book.authors.map(&:full_name).join(',')
              .general-align
                = link_to order_items_path(order_item: {quantity: 1, book_id: book.id}), { method: :post, remote: true } do
                  %button.btn.btn-default Buy Now



  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
    %span.sr-only Next
