.dropdowns.pull-right
  .dropdown
    %li.dropdown-toggle
      = t('general.sort_by')
    .dropdown-content
      = link_to "Newest", sort: "created_at desc"
      = link_to "Popular", sort: :updated_at
      = link_to "Price: low to high", sort: "price asc"
      = link_to "Price: high to low", sort: "price desc"
      = link_to "Title: A - Z", sort: "name asc"
      = link_to "Title: Z - A", sort: "name desc"
