= simple_form_for @book do |b|
  = select_tag(:category_id, options_for_select(@categories), |
    :prompt => "Select a category")                           |
  = b.input :name
  = b.input :author
  = b.input :price
  = b.input :description
  = b.input :year_of_publish
  = b.input :dimensions
  = b.input :materials
  = b.hidden_field(:picture_cache)
  = b.file_field(:picture)
  = b.submit
