%h1.general-title-margin Сatalog
.hidden-xs.clearfix
  = render 'books/book_sort'
  %ul.list-inline.pt-10.mb-25.mr-240
    %li.mr-3
      = link_to "All", catalog_path, class: "filter-link"
    %li.mr-35
    - Category.all.each do |category|
      %li.mr-35
        = link_to category.name, catalog_path(category: category.name), class: "filter-link"
  .mb-120
    .row
      - @books.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              = cl_image_tag book.book_attachments.first.picture, class: "img-shadow general-thumbnail-img"
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to book_path(book), class: 'thumb-hover-link' do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  = link_to order_items_path(order_item: {quantity: 1, book_id: book.id}), { method: :post, class: "thumb-hover-link" } do
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title
              = book.name
            %p.font-16.in-gold-500
              = number_to_currency(book.price, unit: '€')
            %span.divider-sm
            %p.lead.small
              = book.authors.map(&:full_name).join(',')
    .text-center
      = paginate @books
      %p
        = page_entries_info @books
