%main.container
  %a.general-back-link{href: "/"}
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      = cl_image_tag @book.book_attachments.first.picture
      .product-gallery
        .mb-20
          .images.clearfix
            - @book.book_attachments.offset(1).each do |book|
              %a.img-link
                = cl_image_tag book.picture.small, class: "img-responsive"
    .col-sm-6
      %h1.mt-res-0
        = @book.name
      %p.lead.small
        = @book.authors.pluck(:first_name, "last_name").map { |names| names.join(' ')  }.join(',')
        .row
          .col-xs-12.col-md-4
            %p.h1.in-gold-500.mt-10
              = number_to_currency(@book.price, unit: '€')
          .col-xs-5.col-md-3
            .input-group.general-position
              = simple_form_for @order_item do |f|
                = f.hidden_field :book_id, value: @book.id
                = f.number_field :quantity, class: 'form-control quantity-input'
                = f.submit "Add to Cart", class: "col-xs-7 col-md-5 btn btn-default pull-right general-position"
      .general-info-wrap.divider-lg
        %p
          = t('book.show.description')
        %p.lead.small.line-height-2
          - if @book.description.length > 250
            = truncate(@book.description, length: 250)
            = link_to '...Read more', class: "in-gold-500 ml-10 read-more-#{@book.id}"
            :javascript
              $('.read-more-#{@book.id}').on('click', function(e) {
                e.preventDefault()
                $(this).parent().html('#{escape_javascript @book.description}')
              })
          - else
            = @book.description
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left
            = t('book.show.publication_year')
          %p.lead.small.pull-right
            = @book.year_of_publish.strftime("%Y")
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left
            = t('book.show.dimensions')
          %p.lead.small.pull-right
            = @book.dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left
            = t('book.show.materials')
          %p.lead.small.pull-right
            = @book.materials
  = render 'books/review'
