<h2><%= @book.name %></h2>
<h3><%= @book.author %></h3>
<h4>Category: <%= @book.category.name %></h4>
<p>
  <%= @book.description %>
</p>
<p>
  <%= @book.price %>
</p>
<p>
  <%= @book.year_of_publish %>
</p>
<p>
  <%= @book.dimensions %>
</p>
<p>
  <%= @book.materials %>
</p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_book_path %>
<%= link_to "Delete", book_path(@book),
                      method: :delete,
                      data: { confirm: "Are you sure?"} %>


<div class="row">
  <div class="col-md-4">
    <%= render @book.reviews %>
    <div>
      <%= link_to "Add Review", new_book_review_path(@book) %>
    </div>
  </div>

</div>
