%main.container.general-main-wrap
  %h1.general-title-margin Cart
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600
            = t('cart.table.titles.product')
        %th.col-title
        %th.col-price
          %span.in-grey-600
            = t('cart.table.titles.price')
        %th.col-quantity
          %span.in-grey-600
            = t('cart.table.titles.quantity')
        %th.col-total
          %span.in-grey-600
            = t('cart.table.titles.sub_total')
        %th.col-close
      - if @order_items.any?
        - @order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = cl_image_tag item.book.book_attachments.first.picture, alt: 'design-book', class: "cart-img-shadow pull-left"
              %td
                %p.title
                  = item.book.name
              %td
                %span.font-16.in-gold-500= number_to_currency(item.book.price, unit: '€')
              %td
                .input-group
                  %a.input-link{href: "#"}
                    %i.fa.fa-minus.line-heaght-40
                  %input.form-control.quantity-input{type: "text", value: item.quantity}
                  %a.input-link{href: "#"}
                    %i.fa.fa-plus.line-heaght-40
              %td
                %span.font-16.in-gold-500= number_to_currency(item.book.price * item.quantity, unit: '€')
              %td
                = link_to order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, class: "close general-cart-close" do
                  %span{'aria-hidden': "true"} &times

  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label
            = t('cart.bottom.enter_coupon')
          %input.form-control.mb-30#coupon_code{type: "text", placeholder: "Enter Your Coupon Code "}
          %div
            %button.btn.btn-primary.mr-5.mb-15#coupon_submit
              = t('cart.bottom.apply_coupon')
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18
            = t('cart.bottom.order_summary')
          %table.general-summary-table.general-summary-table-right.general-text-right
            = render 'order_info'
  - if user_signed_in?
    = link_to checkout_path(:checkout_address) do
      %button.btn.btn-default.mb-20.hidden-xs.center-block
        = t('cart.bottom.submit')
  - else
    = link_to new_user_registration_path do
      %button.btn.btn-default.mb-20.hidden-xs.center-block
        = t('cart.bottom.submit')

:javascript
  $('#coupon_submit').click(function (e) {
      e.preventDefault();
      e.stopPropagation();

      let code = $('#coupon_code').val();
      if (code) {
        $.get("/coupons/validate/"+code, function(data){
          if (data["valid"]) {
            $('#coupon_code').css("border-color", "green");
            $('#total').text(data["discounted_price"]);
            $('#coupon-amount').text(data["coupon_amount"])
            $('#coupon-msg').text("Coupon applied").css("color", "green");
          } else {
            invalidCode();
          }
        })
      } else {
        invalidCode();
      }
    });
