= f.simple_fields_for @shipping_address do |sa|
  .form-group
    %label.control-label.input-label{for: "firstName"} First Name
    = sa.input :first_name, label: false, input_html: { class: 'form-control', value: @shipping_address&.first_name }
  .form-group
    %label.control-label.input-label{for: "lastName"} Last Name
    = sa.input :last_name, label: false, input_html: { class: 'form-control', value: @shipping_address&.last_name }
  .form-group
    %label.control-label.input-label{for: "address"} Address
    = sa.input :address, label: false, input_html: { class: 'form-control', value: @shipping_address&.address }
  .form-group
    %label.control-label.input-label{for: "city"} City
    = sa.input :city, label: false, input_html: { class: 'form-control', value: @shipping_address&.city }
  .form-group
    %label.control-label.input-label{for: "zip"} Zip
    = sa.input :zip, label: false, input_html: { class: 'form-control', value: @shipping_address&.zip }
  .form-group
    %label.control-label.input-label{for: "сountry"} Country
    = sa.input :country, label: false, selected: @shipping_address&.country, input_html: { class: 'form-control' }
  .form-group.mb-60
    %label.control-label.input-label{for: "phone"} Phone
    = sa.input :phone, label: false, input_html: { class: 'form-control', value: @shipping_address&.phone }
