= simple_form_for current_user, url: wizard_path, method: :put do |f|
  = render 'checkout_navigation_bar'
  .res-mb-100
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
      .row
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle.mt-0 Billing Address
          = render 'checkout_billing_address_form', f: f
        .col-md-5.col-md-offset-1.mb-25
          #hidden_fields
            .visible-xs.visible-sm
              %h3.general-subtitle.mt-0 ShippingAddress
            = render 'checkout_shipping_address_form', f: f
      .form-group.checkbox
        %label.checkbox-label
          %input.checkbox-input{type: "checkbox", id: "trigger", hidden: "true"}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text Use Billing Address
      = render 'checkout_order_summary'
  = f.button :submit, "Save and continue", class: 'btn btn-default mb-20 hidden-xs center-block'

:javascript
  $(function() {

    var checkbox = $("#trigger");
    var hidden = $("#hidden_fields");
    hidden.show();
    checkbox.change(function() {
      if (checkbox.is(':checked')) {
        hidden.hide();
      } else {
        hidden.show();
      }
    });
  });
