= render 'checkout_navigation_bar'
.row.mb-20
  .col-sm-3
    %h3.general-subtitle Shipping Address
    %p.general-address
      = "#{@shipping_address.first_name} #{@shipping_address.last_name}"
      = link_to '/checkouts/checkout_address' do
        %span.general-edit edit
      %br
      = "#{@shipping_address.address}"
      %br
      = @shipping_address.city
      %br
      = @shipping_address.country
      %br
      = @shipping_address.phone
  .col-sm-3
    %h3.general-subtitle Billing Address
    %p.general-address
      = "#{@billing_address.first_name} #{@billing_address.last_name}"
      = link_to '/checkouts/checkout_address' do
        %span.general-edit edit
      %br
      = "#{@billing_address.address}"
      %br
      = @billing_address.city
      %br
      = @billing_address.country
      %br
      = @billing_address.phone
  .col-sm-3
    %h3.general-subtitle Shipments
    %p.general-address
      = link_to '/checkouts/checkout_delivery' do
        %span.general-edit edit
      %br
      = current_order.delivery.method
  .col-sm-3
    %h3.general-subtitle Payment Information
    %p.general-address
      = "#{@credit_card.credit_card_number.slice(0..3)} **** **** #{@credit_card.credit_card_number.slice(12..16)}"
      = link_to '/checkouts/checkout_payment' do
        %span.general-edit edit
      %br
      = "#{@credit_card.month}/#{@credit_card.year}"
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600
            = t('orders.checkout_confirm.table.book')
        %th.col-method
        %th
          %span.in-grey-600
            = t('cart.table.titles.price')
        %th
          %span.in-grey-600
            = t('cart.table.titles.quantity')
        %th
          %span.in-grey-600
            = t('cart.table.titles.total')
    %tbody
      - if @order_items.any?
        - @order_items.each do |item|
          %tr
            %td
              .general-img-wrap-table
                = cl_image_tag item.book.book_attachments.first.picture, alt: 'design-book', class: "cart-img-shadow pull-left"
            %td
              %p.title
                = item.book.name
              %p.in-grey-600.fw-300
                = item.book.description
            %td
              %span.font-16.in-gold-500= number_to_currency(item.book.price, unit: '€')
            %td
              %span.ml-30
                = item.quantity
            %td
              %span.font-16.in-gold-500
                = number_to_currency(item.book.price * item.quantity, unit: '€')
.text-center.general-text-right
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table.general-summary-table-right.general-text-right
    = render 'carts/order_info'
.text-center
  = link_to wizard_path, method: :put do
    %button.btn.btn-default.mb-20.hidden-xs.center-block
      = t('orders.checkout_confirm.submit')
