= form_for current_order, url: wizard_path, method: :put do |f|
  = render 'checkout_navigation_bar'
  .text-center.mb-40
    %h3.general-subtitle Thank You for your Order!
    %p.fw-300 An order confirmation has been has been sent to
    = @user.email
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order #R25314582
        %p.general-address.mb-30
          = DateTime.now
      %p.general-address
        = "#{@shipping_address.first_name} #{@shipping_address.last_name}"
        = link_to '/checkouts/checkout_address' do
          %span.general-edit edit
        %br
        = "#{@shipping_address.address}"
        %br
        = @shipping_address.city
        %br
        = @shipping_address.country
        %br
        = @shipping_address.phone
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order #R25314582
      %p.general-address.mb-30 October 29, 2016
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600
              = t('orders.checkout_confirm.table.book')
          %th.col-method
          %th
            %span.in-grey-600
              = t('cart.table.titles.price')
          %th
            %span.in-grey-600
              = t('cart.table.titles.quantity')
          %th
            %span.in-grey-600
              = t('cart.table.titles.total')
      %tbody
        - if @order_items.any?
          - @order_items.each do |item|
            %tr
              %td
                .general-img-wrap-table
                  = cl_image_tag item.book.book_attachments.first.picture, alt: 'design-book', class: "cart-img-shadow pull-left"
              %td
                %p.title
                  = item.book.name
                %p.in-grey-600.fw-300
                  = item.book.description
              %td
                %span.font-16.in-gold-500= number_to_currency(item.book.price, unit: '€')
              %td
                %span.ml-30
                  = item.quantity
              %td
                %span.font-16.in-gold-500
                  = number_to_currency(item.book.price * item.quantity, unit: '€')
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'carts/order_info'
  .text-center
    = link_to catalog_path do
      %button.btn.btn-default.mb-20 Back to Store
