.form-group
  %label.control-label.input-label{for: "firstName"} First Name
  = f.input :first_name, label: false, input_html: { class: 'form-control', value: address&.first_name }
.form-group
  %label.control-label.input-label{for: "lastName"} Last Name
  = f.input :last_name, label: false, input_html: { class: 'form-control', value: address&.last_name }
.form-group
  %label.control-label.input-label{for: "address"} Address
  = f.input :address, label: false, input_html: { class: 'form-control', value: address&.address }
.form-group
  %label.control-label.input-label{for: "city"} City
  = f.input :city, label: false, input_html: { class: 'form-control', value: address&.city }
.form-group
  %label.control-label.input-label{for: "zip"} Zip
  = f.input :zip, label: false, input_html: { class: 'form-control', value: address&.zip }
.form-group
  %label.control-label.input-label{for: "сountry"} Country
  = f.input :country, label: false, selected: address&.country, input_html: { class: 'form-control' }
.form-group.mb-60
  %label.control-label.input-label{for: "phone"} Phone
  = f.input :phone, label: false, input_html: { class: 'form-control', value: address&.phone }
.text-center.general-text-align
  = f.button :submit, "Save"
