%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Bookstore
      %a.shop-link.pull-right.visible-xs{:href => "#"}
        %span.shop-icon
          %span.shop-quantity 3
    %a.shop-link.pull-right.hidden-xs{:href => "#"}
      %span.shop-icon
        %span.shop-quantity 3
    #navbar.navbar-collapse.collapse.pl-30{"aria-expanded" => "false"}
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to "Home", root_path
          %li.dropdown.nav.navbar-nav
            = link_to "Shop", category_books_path(:category_id)
            %ul
            %ul#menu.collapse.list-unstyled.pl-30.mb-10{'aria-expanded': "false"}
              = render "layouts/categories"
          - if user_signed_in?
            %li
              = link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Log In", new_user_session_path
            %li
              = link_to "Sign Up", new_user_registration_path
