<!DOCTYPE html>
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title BookStore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}
    %link{:href => "app/assets/stylesheet/style.css", :rel => "stylesheet"}
    %script{src: "https://use.fontawesome.com/67602d7308.js"}
    %script{src: "app/assets/javascripts/jquery.js"}
    %script{src: "app/assets/javascripts/bootstrap.js"}
  %body
    = render "layouts/header"
    %p.notice= notice
    %p.alert= alert
    = yield

    = render "layouts/footer"
